%h1 Ad#new
= form_for @ad do |f|
	= render 'shared/error_messages'

	%h4 Name
	= f.text_field :name

	%h4 Start Date
	= f.date_select :start_date


	%h4 End Date
	= f.date_select :end_date 


	%br
	%br
	= f.submit "Save" 